
<div class="filterEventsButtons">
  <button id="friendEventsButton" type="button" name="button" {{action "friendsPressed"}}>Friend's Events</button>
  <button id="yourEventsButton" type="button" name="button"{{action "yoursPressed"}} >Your Events</button>

</div>
