<!-- <div id="test"> This is a test, my age is {{age}}</div>
<button {{action "pressed"}}>
Press Me
</button> -->

<button id="friendEventsButton" type="button" name="button" {{action "friendsPressed"}}>Friends Events</button>
<button id="yourEventsButton" type="button" name="button"{{action "yoursPressed"}} >Your Events</button>
