@font-face  {
  font-family: 'nunito';
  src: url("#{$path-font}/Nunito/Nunito-Regular.ttf");
}
@font-face  {
  font-family: 'montserrat';
  src: url("#{$path-font}/Montserrat/Montserrat-Regular.ttf");
}
