.filterSearchForm > * {
  height: 100vh;
  @include flexbox($direction: column, $justify: space-around, $align: center);
  width: 100%;
}

.urbanWildCheckboxes {
  height: 90vh;
}



.urbanWildCheckboxes > *, .priceRangeCheckboxes > *{
  height: 30%;
  &:hover {
    // cursor: pointer;
  }
}
form {
  width: 100%;
  @include flexbox($direction:column, $align: center);
  img {
    max-height: 80%;
  }
  h3 {
    margin-top: 5px;
  }
}
.signIn {
  height: 100vh;
  @include flexbox($align: center);

}
