.profileImage {
  height: 30px;
  width: 30px;
  background: url('/img/david.png');
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.profileImageLarge {
  height: 150px;
  width: 150px;
  background: url('/img/david.png');
  background-size: cover;
  border-radius: 50%;
}

.logo {
  font-size: 140px;
  border: 8px solid $lime;
  color: $lime;
  padding: 15px;
  margin-bottom: 15px;
}

.tagline {
  @include textFormat(24px, $white, $l-spacing: 10px);
}
