.homepageEvents {
  margin-top: 10%;
}

.friendEvents {
  @include flexbox($justify: space-around, $wrap: wrap, $align: center);
  .eventItem {
    border: 1px solid white;
    height: 150px;
    width: 48%;
    background: lightgray;
  }
  .eventImage {
    height: 200px;
    width: 150px;
  }
}

// .friendEventCarousel {
//   border: 1px solid green;
//   overflow: auto;
//   @include flexbox($justify: space-around, $align: center);
// }
// .friendEvents {
//   @include flexbox();
//   width: 95%;
//   border: 5px solid purple;
//   overflow: auto;
//   .eventItem {
//     height: 200px;
//     width: 10px;
//     background: blue;
//     margin: 1%;
//   }
//   .featured {
//     // position: relative;
//     border: 1px solid white;
//     height: 200px;
//     width: 90%;
//     background: lightgray;
//   }
//   .eventImage {
//     height: 200px;
//     width: 150px;
//   }
// }

.profileEventItem {
  .profileEventImage {
    height: 150px;
    width: 200px;
  }
}

.eventDetail {
  .eventDetailImage {
    height: 40vh;
    color: lightgray;
    font-size: 12px;
    text-transform: uppercase;
    @include flexbox($justify: flex-end, $align: flex-end);
  }
}
