.homeHeader {
  height: 40vh;
  @include flexbox($direction:column, $justify: center, $align: center);
  background: $primaryBlue;
  color: white;
}

.profileHeader {
  @include flexbox($direction: column, $justify: center, $align: center);
}
