// Colors

$black: black;
$primaryBlue: #273155;
$darkBlue: #1c233d;
$lime: #00FF9A;
$gray: #CFE2E6;
$white: white;
$lightOrange: #FF6727;
$darkOrange: #FF3514;
$navBlue: #364477;
$maroon: #89043D;

//Paths

$img-path: '/img';
$path-font: '/fonts';
