<div class="navbar">
  {{#link-to 'index'}}<h2 id="title">logo</h2>{{/link-to}}
  <div class="menu">
    {{#link-to 'profile'}}<div class="profileImage"></div>{{/link-to}}
    <h3>MENU</h3>
  </div>
</div>

{{liquid-outlet}}
