<div class="navbar">
  {{#link-to 'home-page'}}<h2 id="title">GO</h2>{{/link-to}}
  <div class="menu">
    {{#link-to 'profile'}}<div class="profileImage"></div>{{/link-to}}
    <img {{action 'showNav'}}class="menuIcon" src="img/menu-icon.png">
  </div>
  <div class="navigation hidden">
    <p>Browse All Events</p>
    {{#link-to 'index'}}<p>Sign Out</p>{{/link-to}}
  </div>
</div>

<div class="homeHeader">
  <h1>FIND AN EVENT</h1>
  <div class="searchWhole">
    <input id="searchbar" type="search" name="name" placeholder="search" value="">
    <button class="secondaryButton" id="go"type="button" name="button">GO</button>
  </div>
  {{#link-to 'filter-search'}}<button class="helpMeSearch" type="button" name="button">help me out here!</button>{{/link-to}}

</div>

{{j-query}}


<div class="homepageEvents">
<div class="friendEventCarousel">
  <div class="friendEvents">
    {{#each model.friendEvents as |admin-event|}}
    {{#link-to 'friend-event-detail' admin-event.id}}{{admin-event-tile admin-event=admin-event}}{{/link-to}}
    {{/each}}
  </div>


</div>
  <div class="yourEvents hidden">
    {{#each model.yourEvents as |event|}}
    {{#link-to 'event-detail' event.id}}{{event-tile event=event}}{{/link-to}}
    {{/each}}
  </div>
</div>
