<div class="navbar">
  {{#link-to 'home-page'}}<h2 id="title">logo</h2>{{/link-to}}
  <div class="menu">
    {{#link-to 'profile'}}<div class="profileImage"></div>{{/link-to}}
    <h3 {{action 'showNav'}}>MENU</h3>
  </div>
  <div class="navigation hidden">
    <p>Browse All Events</p>
    {{#link-to 'index'}}<p>Sign Out</p>{{/link-to}}
  </div>
</div>

<div class="homeHeader">
  <h1>g e t o u t !</h1>
  {{#link-to 'filter-search'}}<button class="helpMeSearch" type="button" name="button">Help Me Get Out</button>{{/link-to}}

</div>



<div class="homepageEvents">
  <input id="searchbar" type="search" name="name" placeholder="Search All Events" value="">
  {{j-query}}

<div class="friendEventCarousel">

  <div class="friendEvents">
    {{#each model.friendEvents as |admin-event|}}
    {{admin-event-tile admin-event=admin-event}}
    {{/each}}
  </div>

  <!-- <p class="leftarrow">LEFT</p> -->
  <!-- <div class="friendEvents">
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;">
        <p class='eventType'>URBAN EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/codescoolgrad.png') no-repeat center; background-size: cover;">
        <p class='eventType'>URBAN EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/coast.png') no-repeat center; background-size: cover;">
        <p class='eventType'>WILD EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem featured">
      <div class="friendEventPhoto" style="background: url('img/eats.png') no-repeat center; background-size: cover;">
        <p class='eventType'>URBAN EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/ponytail.png') no-repeat center; background-size: cover;">
        <p class='eventType'>WILD EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/art.png') no-repeat center; background-size: cover;">
        <p class='eventType'>URBAN EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/wtf.png') no-repeat center; background-size: cover;">
        <p class='eventType'>WILD EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/portlandmarket.png') no-repeat center; background-size: cover;">
        <p class='eventType'>URBAN EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>
    <div class="eventItem">
      <div class="friendEventPhoto" style="background: url('img/camping.png') no-repeat center; background-size: cover;">
        <p class='eventType'>WILD EVENT</p>
      </div>
      <div class="eventText">
        <h3>Event Info Goes Here </h3>
      </div>
      <div class="friendsGoing">
        <p class="going">Friends Going:</p>
        <div class="friendicons">
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
          <div class="friendicon" style="background: url('img/andrewbird.png') no-repeat center; background-size: cover;"></div>
        </div>
      </div>
    </div>

  </div> -->
  <!-- <p class="rightarrow">RIGHT</p> -->
</div>
  <div class="yourEvents hidden">
    {{#each model.yourEvents as |event|}}
    {{#link-to 'event-detail' event.id}}{{event-tile event=event}}{{/link-to}}
    {{/each}}
  </div>
</div>
