<div class="navbar">
  {{#link-to 'home-page'}}<h2 id="title">logo</h2>{{/link-to}}
  <div class="menu">
    {{#link-to 'profile'}}<div class="profileImage"></div>{{/link-to}}
    <h3 {{action 'showNav'}}>MENU</h3>
  </div>
  <div class="navigation hidden">
    <p>Browse All Events</p>
    {{#link-to 'index'}}<p>Sign Out</p>{{/link-to}}
  </div>
</div>

<div class="homeHeader">
  <h1>g e t o u t !</h1>
  {{#link-to 'filter-search'}}<button class="helpMeSearch" type="button" name="button">Help Me Get Out</button>{{/link-to}}

</div>



<div class="homepageEvents">
  <input id="searchbar" type="search" name="name" placeholder="Search All Events" value="">
  {{j-query}}

<div class="friendEventCarousel">

  <div class="friendEvents">
    {{#each model.friendEvents as |admin-event|}}
    {{#link-to 'friend-event-detail' admin-event.id}}{{admin-event-tile admin-event=admin-event}}{{/link-to}}
    {{/each}}
  </div>


</div>
  <div class="yourEvents hidden">
    {{#each model.yourEvents as |event|}}
    {{#link-to 'event-detail' event.id}}{{event-tile event=event}}{{/link-to}}
    {{/each}}
  </div>
</div>
