<div class="signIn">
  <form>
    <label for="username">Username</label>
    <input type="text" name="username" value="">
    <label for="password">Password</label>
    <input type="password" name="password" value="">
    {{#link-to 'home-page'}}<button type="button" name="button">Get Out !</button>{{/link-to}}
  </form>
</div>
