<div class="homeHeader">
  <h1>g e t o u t !</h1>
  <button class="helpMeSearch" type="button" name="button">Help Me Get Out</button>

</div>

<div class="homepageEvents">
  <input id="searchbar" type="search" name="name" placeholder="Search All Events" value="">
  <div class="friendEvents">
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
  </div>
</div>
