<div class="homeHeader">
  <h1>g e t o u t !</h1>
  <button class="helpMeSearch" type="button" name="button">Help Me Get Out</button>

</div>

<div class="homepageEvents">
  <input id="searchbar" type="search" name="name" placeholder="Search All Events" value="">
  <button id="friendEventsButton" type="button" name="button">Friends Events</button>
  <button id="yourEventsButton" type="button" name="button">Your Events</button>

  <div class="friendEvents">
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
    <div class="eventItem"></div>
  </div>
  <div class="yourEvents hidden">
    {{#each model as |event|}}
    {{#link-to 'event-detail' event.id}}{{event-tile event=event}}{{/link-to}}
    {{/each}}
  </div>
</div>
