<div class="navbar">
  {{#link-to 'home-page'}}<h2 id="title">logo</h2>{{/link-to}}
  <div class="menu">
    {{#link-to 'profile'}}<div class="profileImage"></div>{{/link-to}}
    <h3 {{action 'showNav'}}>MENU</h3>
  </div>
  <div class="navigation hidden">
    <p>Browse All Events</p>
    {{#link-to 'index'}}<p>Sign Out</p>{{/link-to}}
  </div>
</div>
<div class="profileHeader">
  <div class="profileImageLarge"></div>
  <h1>Hey, David!</h1>
</div>

{{new-event event=event saveEvent='saveEvent'}}

<h3>Your Events</h3>
{{#each model as |event|}}
  {{#link-to 'event-detail' admin-event.id}}{{event-tile event=event}}{{/link-to}}
{{/each}}
